.Main > div {
    height: calc(100vh);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Main > div:nth-child(1) {
    background-color: red;
}
.Main > div:nth-child(2) {
    background-color: blue;
}
.Main > div:nth-child(3) {
    background-color: yellow;
}
.Main > div:nth-child(4) {
    background-color: green;
}
.Main > div:nth-child(5) {
    background-color: purple;
}
