<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/create" method="post">
      <label for="">이름</label><br />
      <input type="text" name="name" /><br />
      <label for="">나이</label><br />
      <input type="text" name="age" /><br />
      <label for="">메세지</label><br />
      <input type="text" name="msg" /><br />
      <button>유저 등록</button>
      <a href="/user">유저 확인</a>
    </form>
  </body>
</html>
